<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiji TreeG</title>
    <link rel="stylesheet" href="style-function.css">
    <link rel="stylesheet" href="style-aesthetic.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>

    <script src="vue.js"></script>
    <script src="util.js"></script>
    <script src="events.js"></script>
    <script src="main.js"></script>
</head>
<body onload="loadVue()">
    <div id="dataGetter">
        <script src="sheetHandler.js"></script>
        <script defer src="https://apis.google.com/js/api.js"
            onload="this.onload=function(){};handleClientLoad()"
            onreadystatechange="if (this.readyState === 'complete') this.onload()">
        </script>
    </div>

    <div id="app" v-cloak>
        <div id="treeContainer" v-if="displayTab != 'mainMenu'" :class="container { fullWidth: displayTab == 'tree', col: displayTab != 'tree', left: displayTab != 'tree' }"></div>
        <div id="rightColContainer" v-if="displayTab != 'tree'" class="col right">
            <div id="settings" v-if="displayTab == 'settings'"></div>
            <div id="nameTab" v-if="displayTab == 'nameTab'">
                <h1>{{ unspecialText(nameTabData.name) }}</h1>
                <h2>{{ nameTabData.pledgeClass }}</h2>
                <h2><button @click="displayTagInfo(nameTabData.house)">{{ nameTabData.house }}</button></h2>

                <ol v-if="nameTabData.tags.length > 0">
                    <li v-for="tag in nameTabData.tags">
                        <button @click="displayTagInfo(tag)">{{ tag }}</button>
                    </li>
                </ol>

                <p v-if="nameTabData.bigName != null">Big:
                    <button @click="goToName(nameTabData.bigName)">{{ unspecialText(nameTabData.bigName) }}</button>
                </p>

                <p v-if="nameTabData.littleNames.length == 1">Little:
                    <button @click="goToName(nameTabData.littleNames[0])">{{ unspecialText(nameTabData.littleNames[0]) }}</button>
                </p>
                <p v-if="nameTabData.littleNames.length > 1">Littles:</p>
                <ol v-if="nameTabData.littleNames.length > 1">
                    <li v-for="littleName in nameTabData.littleNames">
                        <button @click="goToName(littleName)">{{ unspecialText(littleName) }}</button>
                    </li>
                </ol>
            </div>
            <div id="tagTab" v-if="displayTab == 'tagTab'">
                <h1>
                    <img v-if="tagTabData.imgSrc" class="tagSymbol" :src="tagTabData.imgSrc">
                    {{ tagTabData.name }}
                </h1>
                <p>{{ tagTabData.description }}</p>
            </div>
        </div>
    </div>
</body>
</html>