<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiji TreeG</title>
    <link rel="stylesheet" href="style-function.css">
    <link rel="stylesheet" href="style-aesthetic.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>

    <script src="vue.js"></script>
    <script src="util.js"></script>
    <script src="events.js"></script>
    <script src="main.js"></script>
</head>
<body onload="loadVue()">
    <div id="dataGetter">
        <button id="authorize_button" style="display: none;">Authorize</button>
        <button id="signout_button" style="display: none;">Sign Out</button>

        <script src="sheetHandler.js"></script>
        <script defer src="https://apis.google.com/js/api.js"
            onload="this.onload=function(){};handleClientLoad()"
            onreadystatechange="if (this.readyState === 'complete') this.onload()">
        </script>
    </div>

    <div id="app">
        <div id="treeContainer" v-if="displayTab != 'mainMenu'" :class="{ fullWidth: displayTab == 'tree', col: displayTab != 'tree', left: displayTab != 'tree' }">
            <div id="tree"></div>
        </div>
        <div id="settings" v-if="displayTab == 'settings'" class="col right"></div>
        <div id="nameTab" v-if="displayTab == 'nameTab'" class="col right">
            <h1>{{ filterInvisText(nameTabData.name) }}</h1>
            <h2>{{ nameTabData.pledgeClass }}</h2>
            <h2>{{ nameTabData.house }}</h2>
            <ul v-if="nameTabData.tags.length > 0">
                <li v-for="tag in nameTabData.tags">
                    {{ tag }}
                </li>
            </ul>
            <p v-if="nameTabData.bigName != null">Big's Name: {{ filterInvisText(nameTabData.bigName) }}</p>
            <p v-if="nameTabData.littleNames.length == 1">Little's Name:</p>
            <p v-if="nameTabData.littleNames.length > 1">Littles' Names:</p>
            <ul v-if="nameTabData.littleNames.length > 0">
                <li v-for="littleName in nameTabData.littleNames">
                    {{ filterInvisText(littleName) }}
                </li>
            </ul>
        </div>
    </div>
</body>
</html>