@font-face {
    font-family: fontenstein;
    src: url(FontensteinStd-Regular.ttf);
}

.name {
    font: 32px/1 fontenstein;
}

.LoneWolves {
    border-color: #349C98;
}
.LoneWolves.line {
    background-color: #349C98;
}

.FieldofLostSouls {
    border-color: black;
}
.FieldofLostSouls.line {
    background-color: black;
}

.ClanEpstein {
    border-color: #FF7901;
}
.ClanEpstein.line {
    background-color: #FF7901;
}

.HullsHouse {
    border-color: #E7D93E;
}
.HullsHouse.line {
    background-color: #E7D93E;
}

.ChancellorClan {
    border-color: #FD40CE;
}
.ChancellorClan.line {
    background-color: #FD40CE;
}

.BastardClan {
    border-color: #00F19F;
}
.BastardClan.line {
    background-color: #00F19F;
}

.LazarusClan {
    border-color: #006600;
}
.LazarusClan.line {
    background-color: #006600;
}

.SkinnerClan {
    border-color: #A80202;
}
.SkinnerClan.line {
    background-color: #A80202;
}

.SchmuckBrigade {
    border-color: #2878C8;
}
.SchmuckBrigade.line {
    background-color: #2878C8;
}

.MangoBranch {
    border-color: #D5AD3E;
}
.MangoBranch.line {
    background-color: #D5AD3E;
}

.ScuttleBranch {
    border-color: #B1E73E;
}
.ScuttleBranch.line {
    background-color: #B1E73E;
}

.BertschTree {
    border-color: #F1973E;
}
.BertschTree.line {
    background-color: #F1973E;
}

.LazarusInc {
    border-color: #006600;
}

.Head, .SupremeCommander {
    border-width: 5px;
    border-color: #5A2895;
}

.PurpleLegionnaire, .SectionChief, .ChiefofChiefs {
    border-width: 5px;
    border-color: #5A2895;
    background-color: #E8CD41;
    color: #5A2895;
}