body{
    margin: 0 auto;
    --treeMarginTop: 40px;
    --treeMarginLeft: 40px;
    --treeMarginBottom: 40px;
    --treeMarginRight: 40px;
    --blockMargin: 10px;
    --endBlockHeight: 60px;
    --blockHeight: 80px;
    --nameHeight: 40px;
    --tagMargin: 5px;
    --lineHeight: 20px;
    --lineWeight: 4px;
}

#tree{
    width: fit-content;
    white-space: nowrap;
    margin-top: var(--treeMarginTop);
    margin-left: var(--treeMarginLeft);
    margin-bottom: var(--treeMarginBottom);
    margin-right: var(--treeMarginRight);
}

.row{
    height: var(--blockHeight);
    white-space: nowrap;
}

.row.end{
    height: var(--endBlockHeight);
}

.block{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin-left: var(--blockMargin);
}

.nameAndSymbols{
    display: inline-flex;
    height: var(--nameHeight);
}

.name{
    height: 100%;
    border-radius: 0px;
}
.name:hover, .tagSymbol:hover {
    transform: scale(1.1);
}

.tagSymbol {
    margin-left: var(--tagMargin);
    height: var(--nameHeight);
}

.line.vert{
    width: var(--lineWeight);
    height: var(--lineHeight);
}
.line.horiz{
    display: inline-block;
    vertical-align: top;
    width: var(--lineWeight);
    height: var(--lineWeight);
}

.across{
    height: var(--lineWeight);
    white-space: nowrap;
}