html, body {
    margin: 0 auto;
    min-height: 100%;
    height: 100%;
    display: contents;
}

[v-cloak] {
    display: none;
}

@font-face {
    font-family: Fontenstein;
    src: url(FontensteinStd-Regular.ttf);
}

#settings {
    background: black;
}

#app {
	height: 100%;
}

.col {
	top: 0;
    bottom: 0;
	position: absolute;
    overflow: auto;
}
.col.left {
    width: 67%;
}
.col.right {
    width: 33%;
	right: 0;
}

.fullWidth {
    width: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    overflow: auto;
}

.tabNavButtonContainer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    display: inline-block;
}

.tabNavButton {
    background-color: transparent;
	border: 1px solid transparent;
	font-size: 40px;
}
.tabNavButton.right {
    justify-self: end;
}

.clickable:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#containerRowContainer {
    display: flex;
    flex-direction: column;
}
.containerRow {
    display: flex;
    width: 100%;
    flex: auto;
    flex-direction: row;
    overflow: auto;
}
.containerColumn {
    display: flex;
    height: 100%;
    flex: auto;
    overflow: auto;
}
.resizer {
    min-width: 6px;
    min-height: 6px;
}
.resizer:hover {
    background-color: black;
}
.resizer [resize-direction="horizontal"] {
    cursor: col-resize;
}
.resizer [resize-direction="vertical"] {
    cursor: row-resize;
}

.treeContainer {
    cursor: grab;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.tree{
    width: fit-content;
    white-space: nowrap;
    margin-top: var(--treeMarginTop);
    margin-left: var(--treeMarginLeft);
    margin-bottom: var(--treeMarginBottom);
    margin-right: var(--treeMarginRight);
}

.row{
    height: var(--blockHeight);
    white-space: nowrap;
}
.row.end{
    height: var(--endBlockHeight);
}

.block{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin-left: var(--blockMargin);
}

.nameAndSymbols{
    display: inline-flex;
    height: var(--nameHeight);
}

.name{
    height: 100%;
    border-radius: 0px;
    user-select: none;
}

.tagSymbol {
    display: inline;
    margin-left: var(--tagMargin);
    height: var(--nameHeight);
}

.line.vert{
    width: var(--lineWeight);
    height: var(--lineHeight);
}
.line.horiz{
    display: inline-block;
    vertical-align: top;
    width: var(--lineWeight);
    height: var(--lineWeight);
}

.across{
    height: var(--lineWeight);
    white-space: nowrap;
}