html, body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: contents;
    overflow: hidden;
}

[v-cloak] {
    display: none;
}

@font-face {
    font-family: Fontenstein;
    src: url(FontensteinStd-Regular.ttf);
}

#settings {
    background: black;
}

#app {
    width: 100%;
	height: 100%;
    display: flex;
    flex-direction: row;
}

.col {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.fullWidth {
    width: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#menuBar {
    height: auto;
    padding: 6px;
    display: flex;
}
.menuItem {
    height: 36px;
    margin: 0 .2em 0 .0;
}
.subMenuIcon {
    width: 24px;
    height: 24px;
}

#treeTabs {
    height: calc(100% - 48px);
}

#mwContainerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    width: 100%;
    flex: auto;
    overflow: auto;
}
.container.row {
    flex-direction: row;
    min-height: 48px;
}
.container.column {
    min-width: 48px;
}

.gutter {
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: 50%;
}
.gutter.gutter-horizontal {
    background-image: url('https://drive.google.com/thumbnail?id=1IAvf0H7o56uhZQxJ2WoXzEEVZA-B0VwH');
    cursor: col-resize;
}
.gutter.gutter-vertical {
    background-image: url('https://drive.google.com/thumbnail?id=1-WbJlrWthLgST8J2uhgIBpEKz-kyi-kX');
    cursor: row-resize;
}

#tabsContainerContainerContainer {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
#tabsContainerContainer {
    display: flex;
    height: 100%;
    overflow: auto;
    flex-direction: column;
}
.containerTab {
    height: 0%;
    overflow: auto;
}

.tabNavButtonContainer {
    border-bottom: 4px solid #ddd;
    align-items: center;
    display: flex;
}

.tabNavButton {
    background-color: transparent;
	border: 1px solid transparent;
	font-size: 40px;
    margin-left: 6px;
}
.tabNavButton.right {
    margin-left: auto;
    margin-right: 6px;
}

.secondaryTab {
    overflow-y: auto;
}

.newline {
    white-space: pre-wrap;
}

.clickable:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.treeContainer {
    height: 100%;
    cursor: grab;
    overflow: auto;
}
.tree {
    width: fit-content;
    white-space: nowrap;
    margin-top: var(--treeMarginTop);
    margin-left: var(--treeMarginLeft);
    margin-bottom: var(--treeMarginBottom);
    margin-right: var(--treeMarginRight);
}

.tree > .row {
    height: var(--blockHeight);
    white-space: nowrap;
}
.tree > .row.end {
    height: var(--endBlockHeight);
}

.block {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin-left: var(--blockMargin);
}

.nameAndSymbols {
    display: inline-flex;
    height: var(--nameHeight);
}

.name {
    height: 100%;
    border-radius: 0px;
    user-select: none;
}

.tagSymbol {
    display: inline;
    -webkit-user-drag: none;
    margin-left: var(--tagMargin);
    height: var(--nameHeight);
}

.line.vert {
    width: var(--lineWeight);
    height: var(--lineHeight);
}
.line.horiz {
    display: inline-block;
    vertical-align: top;
    width: var(--lineWeight);
    height: var(--lineWeight);
}

.across {
    height: var(--lineWeight);
    white-space: nowrap;
}